body{
	background-image: url(../img/fondo2.jpg);
}
.cuerpo{
	background-color: rgba(108, 100, 139, 0.55);
}

/*--estilos de encabezado y logo*/

.encabezado{
	background-color: rgba(108, 100, 139, 0.55);
}
.arealogo{
	border-right:solid black 0.5px;
}
.img-logo{
	width:5em;
}
.slogan{
	font-family: 'The Girl Next Door', cursive;
	text-align:right;
}

/*--estilos de barra izquierda*/

.favoritos{
	font-family: 'The Girl Next Door', cursive;
	text-align:left;
	text-decoration:underline;
}
a.menu:link{
	color:red;
	text-decoration:underline;	
}

/*--estilos del area de post*/
.areapost{
	margin-top:5%;
}