body{
	background-image: url(../img/fondomedia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cuerpo{
	background-color: rgba(108, 100, 139, 0.55);
	padding-bottom:2%;
}

/*--estilos de encabezado y logo*/

.encabezado{
	background-color: rgba(108, 100, 139, 0.55);
}
.arealogo{
	border-right:solid white 0.5px;
}
.img-logo{
	width:5em;
}
.slogan{
	font-family: 'The Girl Next Door', cursive;
	text-align:right;
	color:white;
}

/*--estilos de barra izquierda*/

.areaizquierda{
	margin-top:5%;
}
.step{
	color:white;
	font-size:150%;
}

.favoritos{
	font-family: 'The Girl Next Door', cursive;
	text-align:left;
	text-decoration:underline;
	color:white;
}
a.menu:link{
	color:red;
	text-decoration:underline;	
}

/*--estilos del area de post*/
.areapost{
	margin-top:2%;
	background-color: rgba(108, 100, 139, 0.55);
	border-radius:10px;
}
.textpost{
	text-align: left;
	padding-left:7%;
	font-family: 'The Girl Next Door', cursive;
	font-weight: bold;
	color:white;
	
}
.titulopost{
	font-family: 'The Girl Next Door', cursive;
	font-weight: bold;
	margin-top:2%;
}
.texto-post{
	text-align:justify;
	padding-right:7%;
}
.img-post{
	margin-bottom:4%;
}
.lapiz{
	color:white;
	font-size:200%;
}
.comentario-usuario{
	font-family: 'The Girl Next Door', cursive;
	font-weight: bold;
	color:white;
}
.usuario{
	background-color: rgba(0, 0, 0, 0.55);
	border-radius:10px;
	padding:5%;
	min-height:2rem;	
}
.usuario3{
	background-color: rgba(0, 0, 0, 0.55);
	border-radius:10px;
	padding:5%;
	width:60%;
}
.burbuja-avatar{
	padding-bottom:3%;
}

/* clase para ajustar en disferentes diispositivos el HTML */
@media (max-width: 770px) {
	.img-post{
	width:80%;
	margin-top:8%;
	}
	
}

@media (max-width:320px){
	.img-post{
	width:85%;
	margin-top:8%;	
	}
}


